body {
  background: #fcf4f8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header {
  padding: 35px;
  text-align: center;
  background: url('v.png'), lightpink;
  color: white;
  font-size: 15px;
  background-repeat: no-repeat no-repeat;
  background-attachment: fixed fixed;
  background-size: 300px 150px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: lightpink;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin:auto;
  display:block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgb(238, 197, 206);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightpink;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  color: white;
  text-align: center;
}
